.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
 .projectsContainer{
   /* background-color: #ECF4F3; */
   /* background-color:rgb(138,212,218) */
   width:100%;
   height:700px;
   background: url('/Images/portfoliograd2.png');
   background-repeat: repeat;
   background-position: center;
   background-size:cover;
   /* background-attachment:absolute; */
   
 
 }
*{font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";}