.nav {
    position: relative;
    background: rgb(210, 224, 191);
    font-size: 18px;
    margin-top: 0px;
    width: 100%;}
  
  
        .nav-link {
          text-decoration: none;
          color: rgb(250, 270, 260);
          text-shadow:.5px .5px rgb(56, 54, 56);
font-family: Verdana, Geneva, Tahoma, sans-serif ;
         
        }
   
    
  
  .wrapper{
    background: rgb(210, 224, 191);
  }