.nav {
    position: relative;
    background: rgb(210, 224, 191);
    font-size: 20px;
    margin-top: 0px;
    width: 100%;}
  
  
        a {
          text-decoration: none;
          color: white;
         
        }
   
    
  
  .wrapper{
    background: rgb(210, 224, 191);
  }